.container.landing-page
  .row
    .col-lg-10.mx-auto
      %h1.text-uppercase.text-center
        %strong Your Future Starts Here
      %hr/
    .col-lg-10.mx-auto.text-center
      %p.text-faded.mb-5 Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!
      %a.btn.btn-primary.btn-xl.js-scroll-trigger{ href: '/users/sign_up'} Find Out More
